# Systemd service file for Thermo CRS C500 serial port server
# Install to ~/.config/systemd/user/
#
# Connects CROS console serial port to TCP port 11010.
# The listener allows multiple connections, any can write to terminal and
# all see the replies.

[Unit]
Description=CROS Console Serial Port

[Service]
ExecStartPre=/bin/stty -F /dev/ttyS0 57600 cs8 -cstopb -parenb -echo -echoe -echok
ExecStart=/usr/bin/ncat -l -k localhost 11010 </dev/ttyUSB0 >/dev/ttyUSB0


